<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.example.bibliotekaonline.model.User">
        <property name="name" value="Wiktor Sieracki"/>
        <property name="email" value="wiktor@gmail.com"/>
        <property name="password" value="admin"/>
        <property name="roles">
            <list>

            </list>
        </property>
        <property name="borrowedBooks">
            <list>

            </list>
        </property>
        <property name="reservedBooks">
            <list>
            </list>
        </property>
        <property name="borrowHistory">
            <list>

            </list>
        </property>
        <property name="comments">
            <list>
            </list>
        </property>
    </bean>


</beans>